/**/credentials.json
/**/token.json
docs/**/build
docs/**/node_modules
extensions/*/build
extensions/**/node_modules
extensions/*/src/shared
extensions/*/.env
extensions/*/*.tar.gz
extensions/service-endpoint/creds.data
extensions/service-endpoint/gactions
.env
coverage/
*.zip
.idea
*.bat
*.tar.gz
/**/.DS_Store
.history